<section id="catalog">
                <h1>All Movies</h1>
                <div class="band">

                    <!-- If there are posts for creature in the database display each of them -->
                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="{{movie.imageUrl}}"
                                alt="{{movie.title}}">
                        </div>
                        <div class="back">
                            <h1>{{movie.title}}</h1>
                            <h2>Genre: {{movie.genre}}</h2>
                            <p>Description: {{movie.description}}</p>
                            <a href="#" class="details">Details</a>
                        </div>
                    </div>

                    <!-- If there are still no posts in the database display: -->
                    <!-- <div class="no-posts">
                        <p class="no-offer">There are no posts yet...</p>
                    </div> -->
                </div>
                
            </section>