                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="{{this.imageUrl}}"
                                alt="{{this.title}}">
                        </div>
                        <div class="back">
                            <h1>{{this.title}}</h1>
                            <h2>Genre: {{this.genre}}</h2>
                            <p>Description: {{this.description}}</p>
                            <a href="/movies/{{id}}/details" class="details">Details</a>
                        </div>
                    </div>

